@import url('https://fonts.googleapis.com/css?family=Space+Mono');
* {
    box-sizing: border-box;
  }
  
 
  body 
           {
    background: #F6F6F6;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .calculator   {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
  }
  .calc-button  {
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid #111;
    padding: 20px;
    color: #EEE;
    border-radius: 5px; 
    font-size: 22px;
    cursor: pointer; 
  }
  .calculator input   {
    /* reset basic form styles */
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid #111;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
  }
  .calculator-buttons {
    /* small spacing within our container */
    padding: 20px;
  
    /* the grid stuff! */
    display: grid;
  
    /* create 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
  }

  .calculator-buttons {
   
  
    /* add the grid gap */
    grid-gap: 15px;
  }
  /* span across 3 columns */
.is-zero,
.is-clear   {
  grid-column: span 3;
}

/* go blue */
.is-clear   {
  background: orange;
}
.is-equals {
    background: #454746;
  }
 

.calculator input,
.calc-button   {
  font-family: 'Space Mono';
}